/* Global styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root {
    --primary: #7f3737;
    --primary-light: #ca6a6a;
    --primary-dark: #664949;
    --dark: #161616;
    --dark-accent: #323232;
    /* --dark-lighter: #3b3b3b; */
    --light: #ffffff;
    --light-accent: #f1f0ea;
    --font: 'Montserrat', 'Roboto', sans-serif;
}

.page-image {
    padding: 20px 0px;
    text-align: center;
}


* {
    scrollbar-color: var(--primary) transparent;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
}

h2>a {
    text-decoration: none;
    color: inherit;
}

h2>a:hover {
    text-decoration: none;
    color: inherit;
}

h2>a:visited {
    text-decoration: none;
    color: inherit;
}


a {
    color: var(--primary-light);
    text-decoration: none;
}

a:visited {
    color: var(--primary-dark); 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

html {
    background-color: var(--dark);
    color: var(--light);
}

body {
    max-width: 600px;
    margin: 0 auto;
    text-align: justify;
}

h1,
h2, h3, h4, h5, h6 {
    font-family: var(--font);
}

h1 {
    font-size: 2.6rem;
    margin: 0;
    margin-bottom: 5px;
    font-weight: 600;
}

h2 {
    text-decoration: underline var(--primary);
    text-decoration-thickness: 4px;
    text-underline-offset: 6px;
    font-size: 2rem;
    margin-bottom: 0;
    font-weight: 500;
}

.highlight {
    color: var(--primary-light);
    font-weight: 500;
}

.sidenote {
    position: absolute;
    left: 50%; 
    transform: translate(-50%, -50%); 
    margin-left: 400px; 
    border-radius: 6px;
    border: 1px solid var(--primary);
    text-align: left;
    padding: 12px;
    width: 160px;
    font-size: small;
    text-indent: 0;
}

p {
    font-family: var(--font);
    font-size: 1.1rem;
    hyphens: none; 
    line-height: 1.5;
    text-indent: 1rem;
}

small,
li {
    font-family: var(--font);
}

/* Navigation Bar */
.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
    align-items: center;
}

.navbar__title {
    font-family: var(--font);
    font-size: 1.3rem;
}

.navbar__menu {
    font-family: var(--font);
    font-size: 1.1rem;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 12px;
}

.navbar__title>a,
.navbar__menu>a {
    color: var(--light);
    text-decoration: none;
}

.navbar__menu>a {
    margin: 0 10px;
}

.navbar__title>a:hover {
    border-bottom: 2px solid var(--primary);
}

.navbar__title>a:hover,
.navbar__menu>a:hover,
.navbar__menu>a:focus {
    text-decoration: underline var(--primary);
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}

/* Gifs */
.gif {
    margin: 20px 0 0 0;
    text-align: center;
}

/* Badge */
.badge {
    background-color: var(--primary-dark);
    color: var(--light);
    border-radius: 6px;
    font-family: var(--font);
    font-weight: 600;
    font-size: .85rem;
    padding: 0.3em 0.6em 0.2em;
}

.tag {
    background-color: var(--dark-accent);
}

.badge__list {
    text-indent: 1rem;
    list-style: none;
    padding: 0;
}

.badge__list>li {
    margin-top: 10px;
}

.badge--item {
    border-radius: 4px;
    font-size: 0.7rem;
    margin-right: 5px;
    padding: 0.5em 0.3em 0.3em 0.3em;
}

.badge__link {
    color: var(--primary-light);
    text-decoration: none;
}

.badge__link:hover {
    text-decoration: underline;
}

/* Cards */
.card {
    list-style: none;
    display: flex;
    background-size: 400%;
    padding: 20px;
}

.card__link {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    border-radius: 8px;
    color: var(--light);
}

.card__img {
    border-radius: 16px;
    border: 2px solid var(--dark-accent);
}

.card__img:hover {
    border: 2px solid var(--primary);
}

.card__title {
    margin: 0;
    font-family: var(--font);
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
}

.card__txt {
    font-size: 1rem;
    line-height: 1.5;
    text-indent: 0;
    text-align: center;
    margin: 0.5rem 0 0;
}

.card__link:hover {
    transform: scale(1.05);
}

.link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
}

/* Button */
.btn {
    text-align: center;
    background: rgba(0, 0, 0, 0);
    border: 2px solid var(--primary);
    border-radius: 8px;
    color: var(--light);
    font: 600 16px var(--font);
    padding: 8px 16px;
    transition: background-color 0.4s, color 0.4s;
}

.btn:hover {
    background-color: var(--primary);
    color: var(--dark);
    cursor: pointer;
}

/* Skills */
.skills {
    margin-top: 8px;
}

.skills__img {
    margin: 8px 4px;
}

/* Items */
.center {
    text-align: center;
}

.pro-img {
    border-radius: 16px;
    margin-top: 10px;
}

/* Footer */
footer {
    margin: 4rem 0;
}

.footer__link {
    color: var(--primary-light);
    text-decoration: none;
}

.footer__link:visited {
    color: var(--primary-light);
    text-decoration: none;
}

li {
    padding-top: 2px;
}

.footer {
    cursor: default;
    list-style: none;
    padding: 0;
}

blockquote {
    background-color: var(--dark-accent);
    padding: 4px 10px;
    border-radius: 4px;
    font-style: italic;
    border-left: 1px solid var(--primary);
}

blockquote>p {
    text-indent: initial;
    word-break: normal; 
    overflow-wrap: normal; 
    hyphens: none; 
}

.light blockquote {
    background-color: var(--light);
    border-left: 1px solid var(--primary);
}

blockquote::before {
    content: open-quote; 
    font-size: 2.2em; 
    line-height: 0.1em; 
    vertical-align: -0.4em;
}

blockquote::after {
    content: close-quote; 
    font-size: 2.2em; 
    line-height: 0.1em; 
    vertical-align: -0.4em; 
    margin-left: 95%;
}

.icon__btn {
    display: inline-block;
    padding: 0 0.5rem;
}

.icon__link {
    display: flex;
    padding: 8px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid var(--light);
    align-items: center;
    justify-content: center;
}


.icon__link:hover {
    background-color: var(--light);
}

.icon__link:hover .icon__svg {
    color: var(--dark);
}

.icon__svg {
    color: var(--light);
}

.light .icon__link:hover {
    background-color: var(--dark);
}

.light .icon__link:hover .icon__svg {
    color: var(--light);
}

.light .icon__svg {
    color: var(--dark);
}

/* 404 */
.lost {
    margin-top: 30%;
    text-align: center;
}

.lost__header {
    margin: 0 auto;
    text-align: center;
    border: 0;
    font-size: 7.5rem;
    letter-spacing: 10px;
}

.lost__body {
    color: var(--dark-accent);
}

.lost__link {
    color: var(--primary-light);
    text-decoration: none;
}

/* Theme Icon */
html.light {
    background-color: var(--light-accent);
    color: var(--dark);
}

.light .navbar__title>a {
    color: var(--dark);
}

.light .navbar__menu>a {
    color: var(--dark);
}

.light .card__title {
    color: var(--dark);
}

.light .card__txt {
    color: var(--dark);
}

.light .btn {
    color: var(--dark);
}

.light .btn:hover {
    color: var(--light);
}

.light .icon__link {
    border: 2px solid var(--dark);
}

.light .icon__link:hover {
    border-color: var(--dark);
}


.light .badge__link {
    color: var(--primary-light);
}

/* Media Query */
@media only screen and (max-width: 600px) {
    body {
        width: 350px;
    }

    .navbar {
        display: initial;
    }

    .navbar__title {
        text-align: center;
    }

    .navbar__menu {
        text-align: center;
    }

    .navbar__menu>a {
        margin: 0 11px;
    }

    .skills__img {
        height: 30px;
        width: 30px;
        margin: 8px 1px;
    }

    .badge__list {
        font-size: 0.9rem;
        text-indent: 0;
    }

    .pro-img {
        height: auto;
        width: 350px;
    }
}