---
const description = "404";
import '../styles/global.css';

return Astro.redirect('/');
---
<layout>
    <div class="lost">
        <div class="page-image">
            <img width="500" alt="logo" src="/main.png"/>
        </div>
        <h1 class="lost__header">{ description }</h1>
        <p class="lost__body">What do you see?</p>
        <p>
            <a class="lost__link" href="/">Return Home</a>
        </p>
    </div>
</layout>

