---
import Layout from '../layouts/Layout.astro';
const pageTitle = "RandomRamblings";
---
<Layout pageTitle={pageTitle}>
    <div class="page-image">
        <img width="500" alt="logo" src="/main.png"/>
    </div>
    <h1>Random Ramblings</h1>
    <h2>About</h2>
    <p>
        A space to dump the contents inside of my brain.
    </p>
</Layout>

