---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import logo from '../assets/main.png'; 
const pageTitle = "RandomRamblings";
---
<Layout pageTitle={pageTitle}>
    <div class="page-image">
        <Image src={logo} alt="logo." width={500} />
    </div>
    <h1>Random Ramblings</h1>
    <h2>About</h2>
    <p> A space to dump the contents of my brain. This blog is 100% me, and nothing is computer generated (otherwise, there would be no point of a blog). </p>
    <p>
        If you want to give any feedback or want to say hello, that would be awesome. Just send me an email at  <a href="mailto:3bdo.reda@gmail.com" target="_blank"> 3bdo.reda@gmail.com </a>.
    </p>
</Layout>

