---
import PageImage from '../components/PageImage.astro';
import MainLayout from '../layouts/MainLayout.astro';

export const prerender = true;

const pageTitle = "RandomRamblings";
---
<MainLayout pageTitle={pageTitle}>
    <PageImage img="main" imgAlt="main logo" />
    <h1>Random Ramblings</h1>
    <h2>About</h2>
    <p> A space to dump the contents of my brain. This blog is 100% me, and nothing is computer generated (otherwise, there would be <span class="highlight"> nopoint </span> of a blog). </p>
    <p>
        If you want to give any feedback or want to say hello, then that would be awesome. Just send me an email at  <a href="mailto:3bdo.reda@gmail.com" target="_blank"> 3bdo.reda@gmail.com</a>.
    </p>
</MainLayout>

