---
import PageImage from "../components/PageImage.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { actions } from "astro:actions";

export const prerender = false;
const pageTitle = "Newsletter";

const result = Astro.getActionResult(actions.newsletter.sendConfirmation);
if (result && !result.error) {
  return Astro.redirect("/status/newsletter-confirmation-success");
}
---

<MainLayout pageTitle={pageTitle}>
  <PageImage img="newsletter" imgAlt="newsletter logo" />
  <fieldset>
    <legend>Newsletter Subscription</legend>
    <div class="page-wrapper">
      <form class="simple-form" method="POST" action={actions.newsletter.sendConfirmation}>
        {result?.error && <label class="error">ERROR: {result.error.message}.</label>}
        <div class="input-wrapper">
          <label for="email">Email</label>
          <input name="email" class="input" type="email" required />
        </div>
        <div>
          <label for="notification">Notification</label>
          <div class="radio-group">
            <div>
              <input class="radio" type="radio" id="weekly" name="notification" value="weekly" checked />
              <label for="weekly">Weekly</label>
            </div>

            <div>
              <input class="radio" type="radio" id="monthly" name="notification" value="monthly" />
              <label for="monthly">Monthly</label>
            </div>
          </div>
        </div>
        <div>
          <label for="theme">Theme</label>
          <div class="radio-group">
            <div>
              <input class="radio" type="radio" id="light" name="theme" value="light" />
              <label for="light">Light</label>
            </div>

            <div>
              <input class="radio" type="radio" id="dark" name="theme" value="dark" />
              <label for="dark">Dark</label>
            </div>
          </div>
        </div>
        <!-- <div class="input-wrapper">
          <label for="tags">Tags</label>
          <div class="tags-wrapper">
            {
              Object.values(TagEnum).map((tag) => (
                <span class="badge badge--item tag tag-button">
                  #{tag}
                </span>
              ))
            }
          </div>
        </div> -->
        <div class="button-wrapper">
          <button type="submit" class="btn"> Subscribe </button>
        </div>
      </form>
    </div>
  </fieldset>
</MainLayout>

<script>
  const theme = localStorage.getItem("theme");
  const radioElement = document.getElementById(theme ?? "dark") as HTMLInputElement;
  radioElement.checked = true;
</script>
