---
import { Icon } from "astro-icon/components";
const year = new Date().getFullYear();
---

<footer>
  <div class="center">
    <ul class="footer">
      <li class="icon__btn">
        <a class="icon__link" href="https://github.com/Abdo-reda" target="_blank">
          <Icon class="icon__svg" size={24} name="github" />
        </a>
      </li>
      <li class="icon__btn">
        <a class="icon__link" href="mailto:3bdo.reda@gmail.com" target="_blank">
          <Icon class="icon__svg" size={24} name="email" />
        </a>
      </li>
      <li class="icon__btn">
        <a class="icon__link" href="https://nopoint.itch.io" target="_blank">
          <Icon class="icon__svg" size={24} name="itch-io" />
        </a>
      </li>
    </ul>
    <small>&copy; {year} RandomRamblings by <a class="footer__link" target="_blank" href="https://github.com/Abdo-reda">NoPoint</a>.</small>
  </div>
</footer>
