---
const { img, imgAlt } = Astro.props;
---
<div class="page-image-container">
    <img class="dark-image" alt={imgAlt} src={`/${img}-dark.webp`} />
    <img class="light-image" alt={imgAlt} src={`/${img}-light.webp`} />
    <div class="waves-bg"></div>
</div>